@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    caret-color: transparent;
    letter-spacing: -1px;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

main {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
}

body.no-scroll {
    overflow: hidden;
}

